{
  "openapi": "3.0.1",
  "info": {
    "title": "workout5",
    "description": "Generated by restapi.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://workout5.restapi.cloud/api",
      "description": "RestAPI Service (Apps)"
    }
  ],
  "paths": {
    "/workoutType": {
      "get": {
        "tags": [
          "workoutType"
        ],
        "summary": "Get a list of workoutType",
        "operationId": "getworkoutType",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workoutTypeResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "workoutType"
        ],
        "summary": "Create a new workoutType",
        "operationId": "addworkoutType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateworkoutTypeRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateworkoutTypeRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "workoutType created successfully"
          }
        }
      }
    },
    "/workoutType/{id}": {
      "get": {
        "tags": [
          "workoutType"
        ],
        "summary": "Get a workoutType by id",
        "operationId": "getworkoutTypebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "workoutType found response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workoutTypeResponse"
                }
              }
            }
          },
          "404": {
            "description": "workoutType not found"
          }
        }
      },
      "put": {
        "tags": [
          "workoutType"
        ],
        "summary": "Replace a workoutType by id",
        "operationId": "replaceworkoutTypebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateworkoutTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "workoutType replaced successfully"
          },
          "404": {
            "description": "workoutType not found"
          }
        }
      },
      "patch": {
        "tags": [
          "workoutType"
        ],
        "summary": "Partially update workoutType by id",
        "operationId": "updateworkoutTypebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateworkoutTypeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "workoutType partially updated successfully"
          },
          "404": {
            "description": "workoutType not found"
          }
        }
      },
      "delete": {
        "tags": [
          "workoutType"
        ],
        "summary": "Delete a workoutType by id",
        "operationId": "deleteworkoutTypebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "workoutType successfully deleted"
          },
          "404": {
            "description": "workoutType not found"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get a list of user",
        "operationId": "getuser",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Create a new user",
        "operationId": "adduser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateuserRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateuserRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "user created successfully"
          }
        }
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get a user by id",
        "operationId": "getuserbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user found response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userResponse"
                }
              }
            }
          },
          "404": {
            "description": "user not found"
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Replace a user by id",
        "operationId": "replaceuserbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateuserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user replaced successfully"
          },
          "404": {
            "description": "user not found"
          }
        }
      },
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "Partially update user by id",
        "operationId": "updateuserbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateuserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "user partially updated successfully"
          },
          "404": {
            "description": "user not found"
          }
        }
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Delete a user by id",
        "operationId": "deleteuserbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "user successfully deleted"
          },
          "404": {
            "description": "user not found"
          }
        }
      }
    },
    "/role": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "Get a list of role",
        "operationId": "getrole",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "role"
        ],
        "summary": "Create a new role",
        "operationId": "addrole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateroleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateroleRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "role created successfully"
          }
        }
      }
    },
    "/role/{id}": {
      "get": {
        "tags": [
          "role"
        ],
        "summary": "Get a role by id",
        "operationId": "getrolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "role found response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleResponse"
                }
              }
            }
          },
          "404": {
            "description": "role not found"
          }
        }
      },
      "put": {
        "tags": [
          "role"
        ],
        "summary": "Replace a role by id",
        "operationId": "replacerolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateroleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "role replaced successfully"
          },
          "404": {
            "description": "role not found"
          }
        }
      },
      "patch": {
        "tags": [
          "role"
        ],
        "summary": "Partially update role by id",
        "operationId": "updaterolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateroleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "role partially updated successfully"
          },
          "404": {
            "description": "role not found"
          }
        }
      },
      "delete": {
        "tags": [
          "role"
        ],
        "summary": "Delete a role by id",
        "operationId": "deleterolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "role successfully deleted"
          },
          "404": {
            "description": "role not found"
          }
        }
      }
    },
    "/workoutLog": {
      "get": {
        "tags": [
          "workoutLog"
        ],
        "summary": "Get a list of workoutLog",
        "operationId": "getworkoutLog",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workoutLogResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "workoutLog"
        ],
        "summary": "Create a new workoutLog",
        "operationId": "addworkoutLog",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateworkoutLogRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateworkoutLogRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "workoutLog created successfully"
          }
        }
      }
    },
    "/workoutLog/{id}": {
      "get": {
        "tags": [
          "workoutLog"
        ],
        "summary": "Get a workoutLog by id",
        "operationId": "getworkoutLogbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "workoutLog found response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workoutLogResponse"
                }
              }
            }
          },
          "404": {
            "description": "workoutLog not found"
          }
        }
      },
      "put": {
        "tags": [
          "workoutLog"
        ],
        "summary": "Replace a workoutLog by id",
        "operationId": "replaceworkoutLogbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateworkoutLogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "workoutLog replaced successfully"
          },
          "404": {
            "description": "workoutLog not found"
          }
        }
      },
      "patch": {
        "tags": [
          "workoutLog"
        ],
        "summary": "Partially update workoutLog by id",
        "operationId": "updateworkoutLogbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateworkoutLogRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "workoutLog partially updated successfully"
          },
          "404": {
            "description": "workoutLog not found"
          }
        }
      },
      "delete": {
        "tags": [
          "workoutLog"
        ],
        "summary": "Delete a workoutLog by id",
        "operationId": "deleteworkoutLogbyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "workoutLog successfully deleted"
          },
          "404": {
            "description": "workoutLog not found"
          }
        }
      }
    },
    "/userRole": {
      "get": {
        "tags": [
          "userRole"
        ],
        "summary": "Get a list of userRole",
        "operationId": "getuserRole",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userRoleResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "userRole"
        ],
        "summary": "Create a new userRole",
        "operationId": "adduserRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateuserRoleRequest"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateuserRoleRequest"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "userRole created successfully"
          }
        }
      }
    },
    "/userRole/{id}": {
      "get": {
        "tags": [
          "userRole"
        ],
        "summary": "Get a userRole by id",
        "operationId": "getuserRolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "userRole found response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userRoleResponse"
                }
              }
            }
          },
          "404": {
            "description": "userRole not found"
          }
        }
      },
      "put": {
        "tags": [
          "userRole"
        ],
        "summary": "Replace a userRole by id",
        "operationId": "replaceuserRolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateuserRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "userRole replaced successfully"
          },
          "404": {
            "description": "userRole not found"
          }
        }
      },
      "patch": {
        "tags": [
          "userRole"
        ],
        "summary": "Partially update userRole by id",
        "operationId": "updateuserRolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateuserRoleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "userRole partially updated successfully"
          },
          "404": {
            "description": "userRole not found"
          }
        }
      },
      "delete": {
        "tags": [
          "userRole"
        ],
        "summary": "Delete a userRole by id",
        "operationId": "deleteuserRolebyId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "userRole successfully deleted"
          },
          "404": {
            "description": "userRole not found"
          }
        }
      }
    },
    "/_me": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get user information from authorization token",
        "operationId": "get_me",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_meResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "workoutType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CreateworkoutTypeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "workoutTypeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/workoutType"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "user": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "CreateuserRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        }
      },
      "userResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/user"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "CreateroleRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "roleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/role"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "workoutLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "format": "date"
          },
          "workoutType": {
            "$ref": "#/components/schemas/workoutType"
          },
          "minutes": {
            "type": "integer"
          }
        }
      },
      "CreateworkoutLogRequest": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "workoutType": {
            "$ref": "#/components/schemas/workoutType"
          },
          "minutes": {
            "type": "integer"
          }
        }
      },
      "workoutLogResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/workoutLog"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "userRole": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "sequence": {
            "type": "integer"
          },
          "user": {
            "$ref": "#/components/schemas/user"
          },
          "role": {
            "$ref": "#/components/schemas/role"
          }
        }
      },
      "CreateuserRoleRequest": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/user"
          },
          "role": {
            "$ref": "#/components/schemas/role"
          }
        }
      },
      "userRoleResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/userRole"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              }
            }
          }
        }
      },
      "_meResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "roleIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "System",
      "description": "Operations related to System"
    },
    {
      "name": "workoutType",
      "description": "Operations related to workoutType"
    },
    {
      "name": "user",
      "description": "Operations related to user"
    },
    {
      "name": "role",
      "description": "Operations related to role"
    },
    {
      "name": "workoutLog",
      "description": "Operations related to workoutLog"
    },
    {
      "name": "userRole",
      "description": "Operations related to userRole"
    }
  ]
}